<template>
  <Card>
    <CardHeader class="flex flex-row items-center">
      <div class="grid gap-2 flex-1">
        <CardTitle class="flex justify-between">
          <div class="flex items-center">
            Users
            <span class="font-light text-xs ms-2" v-if="isLoadingFetchUser">
              <SVGLoading class="h-5 w-5 inline text-slate-400 animate-spin ms-1 " />
            </span>
          </div>
          <div class="flex">

            <Eraser class="me-3" :class="{
              'cursor-default opacity-40': isFetching || isLoadingFetchUser || !selectedUsersId.size,
              'cursor-pointer': !(isFetching || isLoadingFetchUser || !selectedUsersId.size)
            }" @click="async () => {
              if (!(isFetching || isLoadingFetchUser || !selectedUsersId.size)) {
                selectedUsersId.clear()
                resetSelectedUsersIdCB()
              }
            }" />

            <Trash2 class="me-3" :class="{
              'cursor-default opacity-40': isFetching || isLoadingFetchUser || !selectedUsersId.size,
              'cursor-pointer': !(isFetching || isLoadingFetchUser || !selectedUsersId.size)
            }" @click="async () => {
              if (!(isFetching || isLoadingFetchUser || !selectedUsersId.size)) {
                modalAction = ''
                await nextTick()
                modalAction = 'delete-users'
              }
            }" />

            <PlusCircle class="me-3" :class="{
              'cursor-default opacity-40': isFetching || isLoadingFetchUser,
              'cursor-pointer': !(isFetching || isLoadingFetchUser)
            }" @click="async () => {
              if (!(isFetching || isLoadingFetchUser)) {
                modalAction = ''
                await nextTick()
                modalAction = 'create'
              }
            }" />

            <RefreshCcw class="" :class="{
              'cursor-default opacity-40': isFetching || isLoadingFetchUser,
              'cursor-pointer': !(isFetching || isLoadingFetchUser)
            }" @click="() => {
              if (!(isFetching || isLoadingFetchUser))
                execute()
            }" />

          </div>
        </CardTitle>
      </div>
    </CardHeader>
    <CardContent>
      <FadeUp>
        <div v-if="isFetching">
          <div v-for="item in 5" :key="item" class="flex items-center space-x-4 w-full mt-4 mb-12">
            <Skeleton class="h-12 w-12 min-w-12 rounded-full" />
            <div class="space-y-2 w-full">
              <Skeleton class="h-4 w-[90%]" />
              <Skeleton class="h-4 w-[80%]" />
            </div>
            <Skeleton class="h-8 w-8 min-w-8 rounded-full hidden sm:block" />
            <Skeleton class="h-8 w-8 min-w-8 rounded-full" />
            <Skeleton class="h-8 w-8 min-w-8 rounded-full" />
          </div>
        </div>
        <div v-else-if="!Users.hasUsers" class="flex flex-col justify-center items-center p-8">
          <PackageOpenIcon class="text-7xl mt-4" width="1em" height="1em" />
          <p class="text-xl opacity-50 mt-4">No data</p>
        </div>
        <Table v-else>
          <TableBody>
            <Row v-for="user in Users.dataAsNewUsers" :key="user.data?.id" :user="user" ref="rowsRef"
              @row-selected="toggleRow($event)" />
          </TableBody>
        </Table>
      </FadeUp>
      <ViewUserDialog :action="modalAction" :user="selectedUser" />
      <EditUserDialog :action="modalAction" :user="selectedUser" />
      <DeleteUserDialog :action="modalAction" :user="selectedUser" />
      <DeleteUsersDialog :action="modalAction" :users-id="Array.from(selectedUsersId)" @users-deleted="() => {
              selectedUsersId.clear()
              if (!Users.hasUsers) execute()
            }" />
      <CreateUserDialog :action="modalAction" />

    </CardContent>
    <FadeUp>
      <CardFooter v-if="!isFetching && !isLoadingFetchUser && Users.hasUsers && data" class="justify-center">
        <Pagination v-model:page="page" :total="data.total" :totalPages="data.total_pages" />
      </CardFooter>
    </FadeUp>
  </Card>
</template>

<script setup lang="ts">
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@/views/components/shadcn/ui/card'
import { Skeleton } from '@/views/components/shadcn/ui/skeleton'
import { Table, TableBody } from '@/views/components/shadcn/ui/table'

import CreateUserDialog from "./dialog/create.vue"
import DeleteUserDialog from "./dialog/delete.vue"
import DeleteUsersDialog from "./dialog/delete-users.vue"
import EditUserDialog from "./dialog/edit.vue"
import ViewUserDialog from "./dialog/view.vue"

import SVGLoading from "@/assets/images/loading.svg"
import Pagination from "./pagination.vue"
import Row from "./row.vue"

import { provider, type Action } from "@/composables/userModalProvider"
import { Fetch as UserFetch } from '@/services/user/Fetch'
import { User } from '@/services/user/User'
import { Fetch as UsersFetch } from '@/services/users/Fetch'
import { Users } from '@/services/users/Users'
import { useToast } from '@/views/components/shadcn/ui/toast/use-toast'
import { PackageOpenIcon, PlusCircle, RefreshCcw, Trash2, Eraser } from 'lucide-vue-next'
import { nextTick, onMounted, provide, ref } from 'vue'
import { useRoute } from 'vue-router'
import type { UserType } from '@/schemas/user'


const { toast } = useToast()

// fetch will re-execute each time page is updated
const page = ref(1)
const { data, isFetching, execute, onFetchError, onFetchResponse, onFetchFinally } = UsersFetch.createUseFetchUsers({ page })

onFetchFinally(() => {
  // clear selectedUsersId for now
  selectedUsersId.value.clear()
})

onFetchResponse((response) => {
  if (response.ok && data?.value?.users.length) {
    // set to store
    Users.setUsersToStore(data?.value?.users)
  }
})

onFetchError(() => {
  // remove users data
  Users.setUsersToStore([])
  toast({
    description: `Error retrieving users data!`,
  });
})

const isLoadingFetchUser = ref(false);
provide('isLoadingFetchUser', isLoadingFetchUser)
const route = useRoute();
onMounted(async () => {
  if (!Users.hasUsers) {
    await execute();
  }

  // with userId params 
  if (route.params?.userId && !Array.isArray(route.params?.userId)) {
    isLoadingFetchUser.value = true
    try {
      // fetch and add user to store if not exist
      const userRes = await UserFetch.userById(Number.parseInt(route.params.userId))
      const userFnd = new User(userRes)
      if (userFnd.data) {
        selectedUser.value = userFnd
        modalAction.value = 'view'
      }
    } catch (error) {
      toast({
        description: `Error retrieving user data!`,
      });
    }
    isLoadingFetchUser.value = false
  }
})

const selectedUser = ref<User | undefined>();
const modalAction = ref<Action | undefined>();
provider((userId, action) => {
  selectedUser.value = new User(userId)
  modalAction.value = action
})

// selected rows
const selectedUsersId = ref<Set<UserType['id']>>(new Set());
const toggleRow = (userId: number) => {
  if (!selectedUsersId.value.has(userId))
    selectedUsersId.value.add(userId)
  else
    selectedUsersId.value.delete(userId)
}
const rowsRef = ref<InstanceType<typeof Row>[]>([])
const resetSelectedUsersIdCB = () => {
  for(let i=0; i<rowsRef.value.length; i++){
    rowsRef.value[i].resetSelected()
  }
}

</script>

<style scoped></style>