<template>
  <Dialog v-model:open="isShown">
    <DialogContent to="#modal-section" class="max-w-[415px] sm:max-w-[625px] bg-white
    grid-rows-[auto_minmax(0,1fr)_auto] p-0 max-h-[90dvh]
    " @open-auto-focus="(e) => {
    e.preventDefault();
  }">
      <DialogHeader>
        <DialogTitle class="text-2xl text-left flex items-center p-4 pb-2">
          <Trash2 class="me-3" /> Delete Multiple Users
        </DialogTitle>

      </DialogHeader>
      <div class="grid gap-4 py-4 overflow-y-auto px-6">
        <div v-for="user in users" :key="user.data?.id" class="flex flex-row justify-start">
          <div class="w-24 flex items-center justify-center mx-0">
            <div class="h-12 w-12 min-w-12 mb-2 rounded-full overflow-hidden border-2
          flex items-center justify-center">
              <img v-if="user.data?.avatar" class="h-12 w-12 min-w-12" :src="user.data.avatar" />
              <CircleUser v-else class="h-12 w-12 min-w-12" />
            </div>
          </div>
          <div class="flex flex-col space-y-2">
            <div class="flex flex-col">
              <p class="text-wrap break-all font-bold text-xl">{{ user.data?.first_name }} {{ user.data?.last_name }}
              </p>
              <p class="text-wrap break-all ">{{ user.data?.email }}</p>
            </div>
            <div class="flex flex-col">
            </div>
          </div>
        </div>
      </div>
      <DialogFooter>
        <div class="flex flex-col w-full p-2">
          <div>
            <p class="text-2xl mt-6 mb-4 text-center  text-red-500">
              Are you sure you want to delete these users?
            </p>
          </div>

          <div class="flex flex-row justify-between items-center w-full">
            <MyButton data-testid="no-btn" class="bg-black w-2/5" type="button" @click="isShown = false"
              :is-loading="isLoading">
              No
            </MyButton>
            <MyButton data-testid="yes-btn" class="bg-red-500 w-2/5" type="button" @click="onSubmit"
              :is-loading="isLoading">
              Yes!
            </MyButton>
          </div>

          <p v-if="errorText" class="text-red-500 text-center pt-8 pb-0">
            <span>{{ errorText }}</span>
          </p>
        </div>
      </DialogFooter>
    </DialogContent>
  </Dialog>
</template>

<script setup lang="ts">
import {
  Dialog,
  DialogContent,
  DialogFooter,
  DialogHeader,
  DialogTitle
} from '@/views/components/shadcn/ui/dialog';
import { useToast } from '@/views/components/shadcn/ui/toast/use-toast';
import { CircleUser, Trash2 } from 'lucide-vue-next';

import { type Action } from "@/composables/userModalProvider";
import { type User } from '@/services/user/User';
import { Action as UsersAction } from '@/services/users/Action';
import { Users } from '@/services/users/Users';
import type { UserType } from '@/schemas/user';
import { computed, ref, watch } from 'vue';
const { toast } = useToast();

const props = defineProps<{
  usersId: UserType['id'][],
  action?: Action
}>()

const emits = defineEmits<{
  (e: 'users-deleted'): void
}>()

const isShown = ref(false)
watch(() => props.action, (nAction) => {
  errorText.value = ""
  if (props.usersId?.length && nAction == 'delete-users')
    isShown.value = true;
  else
    isShown.value = false

})

const users = computed<User[]>(() => {
  if (props.usersId?.length)
    return Users.dataAsNewUsersById(props.usersId)
  return []
})

const isLoading = ref(false)
const errorText = ref('')
async function onSubmit() {
  try {
    isLoading.value = true
    errorText.value = ""
    await UsersAction.deleteUsers(props.usersId)
    toast({
      title: 'Users deleted!',
    });
    emits('users-deleted')
    isShown.value = false
    isLoading.value = false
  } catch (error: any) {
    isLoading.value = false
    errorText.value = error.message
  }
}


</script>

<style scoped></style>